.overview{
   color: white;
   position: absolute;
   background-color: #383638;
   padding: 20px;
   left: 50%;
   transform: translateX(-50%);
   top: 30%;
   width: 90%;
   text-align: center;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   z-index: 3;
   max-width: 45rem;

}

.menu{
   position: relative;
   background-color: white;
   width: 60%;
   left: 50%;
   transform: translateX(-50%);
   /* top:90%; */
   border-radius: 20px;
   padding: 20px;
   /* margin: auto; */
   margin-top: 10%;
   margin-bottom: 20px;
   
}